<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find Healthy Recipes</h1>
      <nav class="nav">
            <a class="nav-link scrapeBtn" href="/scrape">Scrape Healthy Recipes</a>
            <a class="nav-link savedBtn" href="/saved">Saved Recipes</a>
            <a class="nav-link homeBtn" href="/">Home</a>
        </nav>
  </div>
</div>

<div class="container allCards">
    {{#each article}}
      <a href="{{this.link}}" target="blank">
      <div class="card rounded-0" style="width: 18rem;">
          <img class="card-img-top" src="{{this.imgURL}}" alt="recipe image">
          <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
        </a>
         {{#unless this.saved}}
            <button type="button" class="btn btn-info saveBtn rounded-0" data-id="{{this._id}}">Save Recipe</button>
         {{/unless}}
         {{#if this.saved}}
         <button type="button" class="btn btn-secondary rounded-0">Already Saved</button>
         {{/if}}

        <button type="button" class="btn btn-info comment rounded-0" data-id="{{this._id}}">Comments</button>


        </div> <!--end card body-->
    </div> <!--end card-->
    {{/each}}
</div> <!--end container-->