<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Comments</h1>
      <nav class="nav">
            <a class="nav-link scrapeBtn" href="/scrape">Scrape Healthy Recipes</a>
            <a class="nav-link savedBtn" href="/saved">Saved Recipes</a>
            <a class="nav-link homeBtn" href="/">Home</a>
        </nav>
  </div>
</div>


<div class="container commentCont">
  <div class="row">
        <div class="col-sm-6">
            <div class="card commentCards" style="width: 18rem;">
              <img class="card-img-top" src="{{comments.imgURL}}" alt="recipe image">
                <div class="card-body">
                  <p class="card-text commentTitle">{{comments.title}}</p>
                </div>
            </div>
        </div>
    <div class="col-sm-6 commentCards">
      {{#unless comments.body}}
            <br> <p>Be the first to comment!</p> <br>
      {{/unless}}
        <form action="/comment/{{comments.id}}" method="POST">
          <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required="required" placeholder="Input Comment" maxlength="200" type="text" name="comment"></textarea><br>
              <button type="button submit" class="btn btn-info submitComment rounded-0" data-id="{{comments._id}}">Submit Comment</button>
          </div>
        </form>
    </div>
  </div>
</div>

<br><br>

  <div class="container commsCont">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <h3>All comments:</h3>
            {{#each comments.comment}}
              <div class="card eachComment">
                <div class="card-body">
                  <p>{{ this.body }}</p>
                  <button type="button" class="btn btn-info delComment rounded-0" data-id="{{this.id}}">Delete Comment</button>
                  <!--this is a dif id than the submit btn -->
              </div>
            </div>
          {{/each}}
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>


<br><br><br><br><br><br>